
<style type="text/css">
 body{
    background:#ffffff !important;
    overflow-x: none;
    -webkit-overflow-x: none;

  }
     .logo_hd{
      width: 31px;
    margin: auto;
    /* top: 14px; */
    margin-top: 11px;
    padding-left: 0px;
     }

     .logo_div{
      padding:0px 23px;
     }
 .white-text{
      font-family:inherit !important;
      color: #ffffff !important;
      font-family: 'Roboto', sans-serif !important;
     }
 
.imgrt{
  margin-top:50%;
}
.group        { 
  position:relative; 
  margin-bottom:24px; 
}
input         {
 font-size: 18px !important;
    padding: 4px !important;
    display: block !important;
    width: 80% !important;
    border: none !important;
    border-bottom: 1px solid #757575 !important;
    margin: auto !important;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
 color: #9b9a9a;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 45px;
    top: 6px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
   top: -14px;
    font-size: 13px;
    color: #5264AE;
    left: 45px;
}

/* BOTTOM BARS ================================= */
.bar  {   position: relative;
    display: block;
    width: 82%;
    left: 45px; }
.bar:before, .bar:after   {
  content:'';
  height:1px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;

}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:10px;
  pointer-events:none;
  opacity:0.5;
}

.dnone_but{
      padding: 10px;
    background-color: #026091;
    text-align: center;
    margin: 30px 10px;
    border-radius: 5px;
}
.dnone_but>input{
font-size: 18px;
text-transform: uppercase;
color: #ffffff;
background-color: transparent;
border: none;
border-bottom: none !important;

}
/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
     background-color: rgba(0,0,0,0) !important; 
    z-index: 997;
    will-change: opacity;
}
</style>

  <!-- Main Container -->
  <div class="main">
    <!-- Toolbar -->
    <div class="transparent" id="toolbar">
      <div class="open-left waves-effect" data-activates="slide-out-left" id="open-left" ng-click="goHome()">
        <i class="ion-android-arrow-back white-text"></i>
      </div>
      <div class="logo_div"><img class="logo_hd" src="img/logo.png"></div>
      <div>
        <h1 class="title white-text">Forgot Password</h1>
      </div>
    </div>
    </div>

   
   <div class="imgrt">
    <form ng-submit="changePwd(otp, newpwd, confirmpwd)">
      
    <div class="group">      
      <input type="text" required ng-model="otp">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Employee Code</label>
    </div>
    <div class="group">      
      <input type="password" required ng-model="newpwd">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>New Password</label>
    </div>
    <div class="group">      
      <input type="password" required ng-model="confirmpwd">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Confirm Password</label>
    </div>


    <!-- <div class="dnone_but"><a href="#"> DONE</a></div> -->
    <div class="dnone_but"><input type="submit" name="" value="DONE"></div>
  </form>
   </div>

